@import "../reset/reset.css";

body {
    /* background: linear-gradient(to bottom right, blue 0%, red 50%, rgb(129, 197, 29) 100%); */
    background: linear-gradient(to bottom right, #002fff 0%, rgb(255, 0, 153) 50%, rgb(110, 43, 102) 100%);
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-weight: 500;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 150px));
    gap: 20px;
}

.wrapper {
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(30px) saturate(200%);
    text-align: center;
    border-radius: 3px;
    padding: 12px 10px 10px;
    display: grid;
    align-content: space-between;
    height: 150px;
    color: #ebe1e1;
    font-size: max(1rem, 1.3vw);
}

.wrapper i {
    font-size: 2rem;
}